body {
    background: rgb(0,7,68);
    background: radial-gradient(ellipse at 10% 10%, rgba(0,7,49,1) 0%, rgba(17,4,72,1) 33%, rgb(0 0 0) 80%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.panels{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.panel{
    --opacity: 0.4;
    --opacity-border: 0.08;
    background: radial-gradient(ellipse at right top, rgba(50,57,117,var(--opacity)) 0%, rgba(77,34,132,var(--opacity)) 75%);
    border: 2px solid rgba(255, 255, 255, var(--opacity-border));
    border-radius: 10px;
    margin: 12px;
    padding: 12px;
    box-shadow: 6px 6px 18px 5px #0000007d;
}

.sparklines{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sparkline{
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #cccccc;
}

.sparkline .count{
    font-size: 40px;
}

.sparkline .subtitle{
    font-size: 10px;
}